MSSQL_SERVER=
MSSQL_PORT=11433
MSSQL_DATABASE=GOPLAY
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_CLIENT=pymssql
MSSQL_MEDIA_TABLE=dbo.TBL_BOMM_INFO
MSSQL_MEDIA_UPDATE_PROC=dbo.tmp_UPD_BOMM_INFO_ADMIN_JSON
MSSQL_MEDIA_UPDATE_PAYLOAD_PARAM=payloadJson

NAVER_MAPS_CLIENT_ID=
NAVER_MAPS_CLIENT_SECRET=
